.navbar{
  background-color: rgba(0, 0, 0, 0.844);
  
.logoarea{
  display: inline;
   flex-direction: row;
   
}
.navbar-list{
  display: flex;
  flex-direction: row;
 
  float: right; 
}
.navbar-item {
   list-style: none;
   margin:20px;
 }
 .navbar-link{
  color: var(--gold-crayola);
  text-decoration: none;

}

.navbar-link:hover{
  text-decoration: underline;
  color: var(--quick-silver);
  transition: var(--transition-1);

}

}
